.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(54px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: 767px) {
    font-size: rem(40px);
  }
}
